<!DOCTYPE html>
<html>


<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>TravelEase</title>
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	 crossorigin="anonymous">
	<!-- End of Bootstrap -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css?q={{ time }}" />
</head>



<body>
	<script src="script.js">

	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	 crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	 crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	 crossorigin="anonymous">
	</script>

	<!-- Start of Navbar -->
	<!-- Add logo code -->
	<!-- <a href="#" class="navbar-left"><img2 src=""></a> -->
	<!-- End logo code -->
	<!-- <h2>
  </h2> -->
	
    <nav class="navbar navbar-expand-lg navbar-gray gray row">
        <div class= "nav-spacing col-lg-4"> 
			<a class="navbar-brand white" href=""><img class = "navimg" src = "static/images/logo.jpg" style="width:100px;height:100px"></a>
        </div>

        <div class= "nav-spacing col-lg-5">
            <a class="nav-link white " href="/index">Home</a>
            <a class="nav-link white" href="/currencyexchange">Currency Exhange <span class="sr-only">(current)</span></a>
            <a class="nav-link white" href="#">Flights</a>
        </div>
    
        <div class="nav-spacing col-lg-3">
            <form class="form-inline my-3 my-lg-0">
                <input class="form-control mr-sm-2 white" type="search" placeholder="Search" aria-label="Search">
                <button type="button" id="search" class="btn btn-dark">Search</button>
            </form>
        </div>
  </div>
  
    
    </nav>

    <!-- End of Navbar -->
{% block content %}
{% endblock %}
   

<br>
<br>
<br>
<!-- ############ Begin Cards ########### -->

<div class = "container">
  <div class = "row">
      <div class = "col-md-4 col-sm-6">
        <div class = "card text-center">
          <div class = "card-block">
            <img src = "static/images/money.jpg"  alt = "" class = "img-fluid"> 
            <div class = "card-title">
              <h4>Exchange Rates</h4>
            </div>
            <div class = "card-text">
              Convert Currency to save money and Stonks. 
            </div>
            <a style="margin-top: 10px" href = "currencyexchange.html"  class = "btn btn-success">click to visit </a>
          </div>
        </div>
      </div>
      <!-- Next station -->
      <div class = "col-md-4 col-sm-6">
        <div class = "card text-center">
          <div class = "card-block">
            <img src = "static/images/plane.jpg" style="width: 2448px; height: 465px;"  alt = "" class = "img-fluid"> 
            <div class = "card-title">
              <h4>Flight Finder</h4>
            </div>
            <div class = "card-text">
              Find nearest pan american flights for you.
            </div>
            <a style="margin-top: 10px" href = "a" class = "btn btn-success">click to visit</a>
          </div>
        </div>
      </div>
      <!-- Next Station -->
      <div class = "col-md-4 col-sm-6">
        <div class = "card text-center">
          <div class = "card-block">
            <img src = "static/images/baloon.jpg" style="width: 2448px; height: 465px;" alt = "" class = "img-fluid"> 
            <div class = "card-title">
              <h4>Restaurant API</h4>
            </div>
            <div class = "card-text">
              Food Venues for the Hungry.
            </div>
            <a style="margin-top: 10px" href = "a" class = "btn btn-success">click to visit </a>
          </div>
        </div>
      </div>
  </div>


</div>
  
 

<br>
<br>
<br>
<br>

<footer>
   
  <div class = "row">
      <div class = "col-4">About TravelEase</div>
      <div class = "col-4">Financing</div>
      <div class = "col-4">Partnerships</div>
      
  </div>
  <br>

  <div class = "row">
      <div class = "col-4">Legal</div>
      <div class = "col-4">Random Info</div>
      <div class = "col-4">July 2020</div>
      
  </div>
    
</footer>