
{% extends 'base.html' %}


{% block content %}
<a class="navbar-brand white " href="/index">Home</a>
<!-- currencyexchange tool-->
<script type="text/javascript"   src="https://www.exchange-rates.org/GetCustomContent.aspx?sid=CC000QB6I&amp;type=CurrencyConverter&amp;stk=-0DDTHW73PV" charset="utf-8">
</script>
<div>Source: <a href="https://www.exchange-rates.org/" rel="nofollow">www.exchange-rates.org</a>

</div><noscript>
    <iframe ID="frmExchRatesCC000QB6I" style="margin:0px;border:none;padding:0px;" frameborder="0" width="161" height="181" src="https://www.exchange-rates.org/GetCustomContent.aspx?sid=CC000QB6I&amp;type=CurrencyConverter&amp;submit=submit&amp;stk=04N9DMC3PW"></iframe></noscript>
{% endblock %}
<!--api thing-->

